@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <section id="home">
        kjsdnkfjdsnf
    </section>

    <section id="about">
        kjsdnkfjdsnf
    </section>

    <section id="contact">
        kjsdnkfjdsnf
    </section>

    <section id="projects">
        kjsdnkfjdsnf
    </section>
</div>
