@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section id="home">
    <div class="pjesaNenHeader">
        <div class="data">

            <h1> Hi, I am <span> Rina Korca</span></h1>
            <h1>I'm a Software Engineer</h1>
            <p>Welcome to my official Portfolio Website where I put all<br /> my work related to my projects.</p>
        </div>

        <div class="img-box">
            <img src="~/img/backShape.png" id="backShape" />
            <img src="~/img/fotoFront.png" id="fotoFront" />
        </div>
    </div>
</section>
 
   
<section id="about">
    <div class="pjesaAbout">

        <div id="personalInfo">
            <h1>About me</h1>
            <p id="teksti">
                I am a Software Engineer student located in Kosove.
                I have a serious passion for developing websites,<br />designing UI/Ux and creating intuitive,
                dynamic user experiences. <br />Well-organised person, independent, problem solver with high attention to detail.<br />
                Interested in the entire backend spectrum.
            </p>
        </div>



   

        <div class="skills">
            <div class="pjesaSkills">
                <h1>My Skills</h1>

                <li>
                    <h3>html</h3>
                    <span class="bar"><span class="html"></span></span>
                </li>

                <li>
                    <h3>css</h3>
                    <span class="bar"><span class="css"></span></span>
                </li>

                <li>
                    <h3>javascript</h3>
                    <span class="bar"><span class="javascript"></span></span>
                </li>

                <li>
                    <h3>java</h3>
                    <span class="bar"><span class="java"></span></span>
                </li>

                <li>
                    <h3>.net</h3>
                    <span class="bar"><span class="dotnet"></span></span>
                </li>
            </div>
            </div>
        </div>

    </div>


</section>

<section id="projectSection">
    <div class="myProjects">
        <h1>My Projects</h1>
    </div>
    <div class="projects">

        <div class="row">
            <div class="katrori">
                <div class="linkuProj">
                    <a class="aa" href="https://github.com/RinaKorca/PortfolioRK">PortfolioRK</a>
                </div>
                <p>This is a project that shows information about me, includin what I study,
                what programming skills I have adn the projects I have worked on. Teknologies used are: HTML/CSS & .NET</p>
            </div>

            <div class="katrori">
                <div class="linkuProj">
                    <a class="aa" href="https://github.com/DoruntinaKorca/movieapplication">Movie Application</a>
                </div>
                <p>This projects is web-based. You can register and have your own account to watch movies of different genres. It was developed with ReactJS and .NET</p>

            </div>

            <div class="katrori">
                <div class="linkuProj">
                    <a class="aa" href="https://github.com/RinaKorca/simpleRestAPI">Simple Rest Api</a>
                </div>
                <p>Simple Rest Api with flask and MongoDB.</p>

            </div>
        </div>

        <div class="row">


            <div class="katrori">
                <div class="linkuProj">
                    <a class="aa" href="https://github.com/DoruntinaKorca/TechScope">TechScope</a>
                </div>
                <p>TechScope Learning Platform is a new and innovative web-based project that aims to improve the experience of individuals that want to perfect their skills in tech-related fields by offering online courses. </p>


            </div>

            <div class="katrori">
                <div class="linkuProj">
                    <a class="aa" href="https://github.com/DoruntinaKorca/InxhinieriEWeb-it">Desserts</a>
                </div>
                <p>This project offers the opportunity to order different kinds of desserts online. It was developed with HTML/CSS & Javascript & PHP.</p>


            </div>
            <div class="katrori">
                <div class="linkuProj">
                    <a class="aa" href="https://github.com/RinaKorca/myportofolio">My Portfolio</a>
                </div>
                <p>Another simple portfolio developed with HTML/CSS.</p>


            </div>
            </div>







        </div>
</section>

<section id="contact">

    <div class="contactt">
        <p>You can contact me on my social medias:</p>
    </div>
    <div class="iconsDiv">
        <div class="iconsFundi">
            <a href="https://www.linkedin.com/in/rina-kor%C3%A7a-58131417b/">
                <i class='fa fa-linkedin-square fa-3x' style='color:#d24cb9'></i>
            </a>

        </div>


        <div class="iconsFundi">

            <a href="mailto:rinakorca2001@gmail.com">
                <i class='fa fa-envelope fa-3x' style='color: #d24cb9'></i>
            </a>
        </div>

        <div class="iconsFundi">
            <a href="https://github.com/RinaKorca">
                <i class='fa fa-github-square fa-3x' style='color: #d24cb9'></i>
            </a>

        </div>


    </div>
</section>

