@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section id="home">
    <div class="pjesaNenHeader">
        <div class="data">

            <h1> Hi, I am <span> Rina Korca</span></h1>
            <h1>I'm a Software Engineer</h1>
            <p>Welcome to my official Portfolio Website where I put all<br /> my work related to my projects.</p>
        </div>

        <div class="img-box">
            <img src="~/img/backShape.png" id="backShape" />
            <img src="~/img/fotoFront.png" id="fotoFront" />
        </div>
    </div>
</section>
 
   
<section id="about">
    <div class="pjesaAbout">

        <div id="personalInfo">
            <h1>About me</h1>
            <p id="teksti">
                I am a Computer Sciences and Engineering student located in Kosove.
                I have a serious passion for developing software,<br />designing UI/Ux and creating intuitive,
                dynamic user experiences. <br />Well-organised person, independent, problem solver with high attention to detail.<br />
                Interested in the entire backend spectrum.
            </p>
        </div>



   

        <div class="skills">
            <div class="pjesaSkills">
                <h1>My Skills</h1>

                <li>
                    <h3>html</h3>
                    <span class="bar"><span class="html"></span></span>
                </li>

                <li>
                    <h3>css</h3>
                    <span class="bar"><span class="css"></span></span>
                </li>

                <li>
                    <h3>javascript</h3>
                    <span class="bar"><span class="javascript"></span></span>
                </li>

                <li>
                    <h3>java</h3>
                    <span class="bar"><span class="java"></span></span>
                </li>

                <li>
                    <h3>.net</h3>
                    <span class="bar"><span class="dotnet"></span></span>
                </li>
            </div>
            </div>
        </div>

    </div>


</section>

<section id="projectSection">
    <div class="myProjects">
        <h1>My Projects</h1>
    </div>
    <div class="projects">


        <div class="row">
            @foreach (var item in Model.Repositories)
            {
              


                    <div class="katrori">
                        <div class="linkuProj">
                            <a class="aa" href="@Html.DisplayFor(l=>item.ReloLink)">@Html.DisplayFor(l => item.RepoName)</a>
                        </div>
                        <p>
                            @Html.DisplayFor(l => item.RepoDescription)
                        </p>
                    </div>


             
            }
        </div>

        </div>
</section>

<section id="contact">

    <div class="contactt">
        <p>You can contact me on my social medias:</p>
    </div>
    <div class="iconsDiv">
        <div class="iconsFundi">
            <a href="https://www.linkedin.com/in/rina-kor%C3%A7a-58131417b/">
                <i class='fa fa-linkedin-square fa-3x' style='color:#d24cb9'></i>
            </a>

        </div>


        <div class="iconsFundi">

            <a href="mailto:rinakorca2001@gmail.com">
                <i class='fa fa-envelope fa-3x' style='color: #d24cb9'></i>
            </a>
        </div>

        <div class="iconsFundi">
            <a href="https://github.com/RinaKorca">
                <i class='fa fa-github-square fa-3x' style='color: #d24cb9'></i>
            </a>

        </div>


    </div>
</section>

