<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PortfolioRK</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body>
    <div class="body">
        <header>
            <h2 class="logo">Portfolio<span>RK</span></h2>
            <ul>
                <li>
                    <a href="#home">Home</a>
                </li>

                <li>
                    <a href="#about">About Me</a>
                </li>

                <li>
                    <a href="#projectSection">Projects</a>
                </li>

                <li>
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </header>


        <div class="container">
            <main>
                @RenderBody()
            </main>
        </div>
    </div>
   
</body>
</html>
